figure img {
  display:block;
  margin:0 auto;
  max-width:750px;
  width:100%;
  height:auto;
}
.figure-tight {
width: 100%;
max-width: 750px;
margin: 1rem auto;
}

.figure-tight .frame {
width: 100%;
overflow: hidden;
}

.figure-tight img {
display: block;
width: 100%;
height: auto;
}